# Video Files Downloaded
Download/

# Downloaders Binary
usr/

# Files that created while depolying
res/download/
res/scripts/RemoteVersion
res/.wget-hsts
res/deploy.log
res/deploy.settings
res/wget.opt

# Download batch
下载视频*.bat
下載影片*.bat
Download*Video*.bat

# Dev / Lab Features
res/dev/AutoGenerateWithSpecificVersion.settings
res/dev/sources.txt
res/dev/wget.exe

# Used for test when coding
_test/

# VS Code / Editor
.editorconfig
## Used for triming whitespace
## Add this into .gitignore in consideration of
##     reducing the number of files in the main folder
## Content:
##     root = true
##
##     [*]
##     insert_final_newline = true
##     trim_trailing_whitespace = true
##
##     [*.md]
##     trim_trailing_whitespace = false
