## Line Endings

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# This tells Git that never replace CRLF with LF for `.bat` files when
# they are written to the Git object database ("checkin"). So that,
# when you download or "save as" batchfiles from GitHub (not 'git clone'),
# the files will be saved with the line endings CRLF, which are suitable
# for Windows batchfiles.
*.bat -text

# Other files
*.py text eol=lf
res/scripts/CurrentVersion text eol=crlf

#####

## Linguist config (https://github.com/github/linguist/#vendored-code)
res/scripts/get-pip.py linguist-vendored